body {
	font-family: 'Lobster', cursive;
}

.page {
	margin: 0 auto;
	box-sizing: border-box;
	padding: 32px;
	max-width: 700px;

	text-align: center;
}

h1 {
	margin: 0;
	margin-bottom: 24px;
	font-size: 52px;
}

.cat {
	display: block;
	margin: 8px;
	width: 150px;
	height: 150px;
	border-radius: 5px;

	overflow: hidden;
}

.cat img {
	display: block;
	width: 150px;
	height: 150px;
	object-fit: cover;

	transition: transform 1s ease;
}

.cat:hover img {
	transform: scale(1.2);
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	margin: 0 -8px;
	margin-bottom: 16px;
}

.button {
	display: inline-block;
	padding: 0 48px;
	background-color: crimson;
	color: white;

	font-size: 36px;
	line-height: 60px;
	border-radius: 40px;

	text-decoration: none;
}

.footer {
	text-align: center;
}
